<div class="ui-state-hover ui-corner-top widget-header"><span class="ui-icon ui-icon-tag icon"></span> Donation</div>
<div class="ui-widget-content ui-corner-bottom widget-content">
<div class="pddInner">
Lineage2NFT es un servidor gratuito, para que todos puedan disfrutar del mundo de Lineage II de forma gratuita, pero el servidor tiene algunos gastos. En la adquisicion de balance usted estará ayudando a crecer y mantener todos los servicios disponibles en todo momento.<br><br>Usted puede comprar muchos artículos en el juego y disfrutar de unos servicios alternativos en nuestro sitio web utilizando balance.<br><br>
<div class="rulesbox" style="width:auto !important;">
<h1>Condiciones para adquirir balance</h1>
Al adquirir balance, tenga en cuenta que usted no tiene ningún privilegio antes que los otros jugadores. Todos están sujetos a las mismas reglas y castigos.<br><br>
No somos responsables de la seguridad y el destino del balance que aporte después de que se entrega a su personaje. No devolveremos nada si pierde en el juego o algún descuido con la seguridad de su cuenta.<br><br>
No vamos, en ningún caso, efectuar la devolución del dinero de la adquisicion. Te garantizamos la entrega de que fue comprado a su cuenta seleccionada dentro de los términos y condiciones establecidos a continuación.<br><br>
<b>Plazos y Entrega</b><br><br>
El plazo de entrega varía dependiendo del modo elegido del pago y puede ser un par de minutos para las compras realizadas a través de paypal o en la tarjeta de crédito, o hasta varias horas para las compras realizadas a través de bitcoin.<br><br>
Vamos a recibir automáticamente notificaciones sobre la operación. No hay necesidad de la confirmación del pago por e-mail o envío de comprobantes, nuestro sistema es totalmente automático.<br><br>
Los intentos de cargo o actitudes fraudulentas no se tolerarán. En tales casos, vamos a bloquear sus cuentas y computadoras hasta que se evalúe y resuelva la condición, la cerradura puede ser permanente dependiendo del evento.<br><br>
Si surgen problemas en la entrega automática, todo lo que tienes que hacer es ponerse en contacto con nosotros. No contacte antes de un período de 2 horas después de la confirmación de su pago.<br>
</div><br><br>
<label><input type="checkbox" id="miElementoCheckbox" onchange="javascript:showContent()"> <b>He leído y acepto las condiciones de adquisicion de balance expresado anteriormente</b></label>
<br><br><br>
Introduzca los datos requeridos a continuación y haga clic en "Hacer Pedido". Un nuevo pedido se llevará a cabo y se abrirá una ventana con la factura para el pago.<br>
<br>

</div>
	<div id="msg" style="display: none;">%purchase%</div>
</div>