<div class="ui-state-hover ui-corner-top widget-header"><span class="ui-icon ui-icon-extlink icon"></span> Invitation System</div>
<div class="ui-widget-content ui-corner-bottom widget-content">
	<div class="ui-widget-header widget-header">Information</div>
	<div class="ui-widget-content widget-content">
		Share the following link with your friends, on discussion forums, blogs or other websites and this way help us attract more players to the server. By doing so can you'll receive a reward.<br /><br />
		<b>Your invitation url</b>: <a href="https://nftlineage2.ddns.net/AccountControlPanel/?page=invite&account=%account%">
			https://nftlineage2.ddns.net/AccountControlPanel/?page=invite&account=%account%
		</a><br />
		<!--<b>Currently invited</b>: %count% players<br />-->
	</div>
</div>