<table>
	<tr>
		<td class="percent25">
			<div class="ui-state-hover ui-corner-top widget-header"><span class="ui-icon ui-icon-document icon"></span> Your details</div>
			<div class="ui-widget-content ui-corner-bottom widget-content">
				<table>
					<tr>
						<td class="percent33"><b>Server</b>:</td>
						<td class="percent67 right">%serverName% (<a class="process" href="changeServer">change</a>)</td>
					</tr>
					<tr>
						<td class="percent33"><b>Account</b>:</td>
						<td class="percent67 right">%accountName% (<a class="process" href="logout">logout</a>)</td>
					</tr>
					<tr>
						<td class="percent33"><b>Character</b>:</td>
						<td class="percent67 right">%character%</td>
					</tr>
				</table>
				<hr />
				<table>
					<tr>
						<td class="percent33"><b>Balance USDT</b>:</td>
						<td class="percent67 right"><span class="ui-state-default ui-corner-all credits"> 
							
			
								<span id="wallet_balance"> </span> USDT
					

							 </span> </td>
					</tr>
					<tr>
						<td class="percent33"><b>Address</b>:</td>
						<td class="percent67 right"><span class="ui-state-default ui-corner-all credits"> 
							
			
								<span id="wallet_address"> </span>
					

							 </span> </td>
					</tr>
					<tr>
						<td class="percent33"><b>Claim Tokens</b>:</td>
						<td class="percent67 right">Claim your tokens (<a class="process" href="claimTokens">Claim Tokens</a>) (%tokens%)</td>
					</tr>

				</table>
			</div>
			<div class="ui-state-hover ui-corner-top widget-header"><span class="ui-icon ui-icon-document icon"></span>Referral link</div>
						<div class="ui-widget-content ui-corner-bottom widget-content">
				<table>
					<tr>
					<br>
					<hr />
						<td class="percent67 left"><span class="ui-state-default ui-corner-all credits"> https://nftlineage2.ddns.net/AccountControlPanel/?page=account&ref=%char_name%</span></td>
				
					</tr>
				</table>
					<hr />
					<br>
			</div>
		</td>
		<td class="percent70 right">
			<center><div id="navigation">
				%navigation%
			</div></center>
		</tr>
	</tr>
</table>
<br />