<div class="ui-state-hover ui-corner-top widget-header"><span class="ui-icon ui-icon-notice icon"></span> Terms and Conditions</div>
<div class="ui-widget-content ui-corner-bottom widget-content">
	<ul>
		<li>Our system uses cookies in order to identify you and provide access to your account.</li>
		<li>The donation is the way of showing your appreciation for our hard work and therefore is not mandatory.</li>
		<li>All of the accounts/characters/items and other such information is our property and therefore belongs to us.</li>
		<li>Add more...</li>
	</ul>
</div>
<button class="process" title="termsAndConditions" name="response" value="agree">I Agree</button>
