<div class="ui-state-hover ui-corner-top widget-header"><span class="ui-icon ui-icon-mail-open icon"></span> Update E-Mail address</div>
<div class="ui-widget-content ui-corner-bottom widget-content">
	<center>
		This account is not registered with any E-Mail address. Please provide your E-Mail address to be used with this account in order to continue.
		<form id="updateEmail">
			<div class="input"><input type="text" id="email" value="" /><span>E-Mail Address</span></div>
			<button>Update</button>
		</form>
	</center>
</div>